/// --FONTS-- ///

.materialIcons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

$juralight: 'Jura Light', sans-serif;
$juraregular: 'Jura Regular', sans-serif;
$juramedium: 'Jura Medium', sans-serif;
$roboto: Roboto, sans-serif;

/// END ///
