@import '../../../styles/index';

.adminTools {
  margin-bottom: 0;
  text-align: center;
  padding: 0px 20px 20px 20px;

  button {
    margin-right: 5px;

    &:hover,
    &:focus {
      outline: none !important;
      text-decoration: none;
    }
  }

  h1 {
    margin-top: 0;
    color: $white;
    font-weight: 900;
  }
}

.signoutButton {
  list-style-type: none;
  opacity: 0.5;
  background-color: $darkblue;
  border: 1px solid $darkblue;

  &:hover {
    text-decoration: none;
    opacity: 1;
    color: $lightblue;
  }
}

button > li > a,
.signoutButton > li:hover,
.signoutButton > li > a:hover {
  outline: none !important;
  text-decoration: none;
  color: $lightblue;
}

.signoutButton:focus,
.signoutButton > li:focus,
.signoutButton > li a:focus {
  outline: none !important;
  text-decoration: none;
}
