@import '../../../styles/index';

.headerTitle {
  @media (max-width: 650px) {
    display: none;
    margin-left: 0;
  }
  margin-left: 5px;
  font-family: $juramedium;
  position: relative;
  top: -5px;
}

.navigationContainer {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: $trueblue;
  max-width: 2000px;
  height: 70px;
  z-index: 1100;
}

.navigationBar {
  display: inline-block;
  margin-top: 10px;
  margin-left: -30px;

  li {
    display: block;
    float: left;
    position: relative;
    height: 40px;
    margin-top: 15px;
  }

  li > a {
    @media (max-width: 750px) {
      padding: 10px;
    }
    padding: 10px 20px;
    color: $lightblue;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $owhite;
    }

    &:focus {
      outline: none !important;
      text-decoration: none;
    }
  }
}
