.about-container {
	@media (max-width: 750px) { background-size: 350%; background-position: center; }
	@extend %w-100;
	background: white url(../images/aboutViewBackground.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 1000px;
	margin-top: -1px;
	padding-top: 100px;
	color: $blue;

	h1 {
		@media (max-width: 750px) { font-size: 25px; }
		font-size: 30px;
		margin-bottom: 40px;
	}

	.about-content {
		margin-top: -100px;

		.underline {
			@media (max-width: 749px) { display: none; }
			@media (max-width: 750px) { padding-right: 70px; }
			margin-top: -16px;
			padding-right: 103px;

			hr {
				@media (max-width: 750px) { width: 202px; border: 0.75px solid $blue; }
				border: 1.2px solid $blue;
				width: 300px;
			}
		}

		p {
			@media (max-width: 750px) { font-size: 10px; margin-top: -15px; }
			@extend %t-a-c;
			margin-top: 15px;
			padding: 0 20px;
		}

		.about-body-mobile {
			margin-top: 100px;

			img {
				@media (max-width: 750px) { width: 100%; }
				@extend %d-b, %m-0-a;
				width: 325px;
			}
		}

		.about-body {
			@media (max-width: 750px) { padding-top: 50%; }
			@extend %w-100;
			padding-top: 50px;

			.about-image {
				@extend %w-100;
				img {
					@media (max-width: 750px) { height: 150px; }
					@extend %d-b, %m-0-a, %w-100;
					max-width: 1500px;
				}
			}
		}
	}
}
