.about-container {
	@media (max-width: 750px) {
		background-size: 350%;
		background-position: center;
	}

	background: white url(../images/aboutViewBackground.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;

	width: 100%;
	height: 1000px;
	margin-top: -1px;
	padding-top: 100px;
	color: $blue;

	h1 {
		@media (max-width: 750px) {
			font-size: 25px;
		}
		@extend .cursive-font;
		font-size: 30px;
		margin-bottom: 40px;
	}

	.about-content {
		margin-top: -50px;

		.underline {
			@media (max-width: 437px) {
				display: none;
			}
			@media (max-width: 750px) {
				padding-right: 70px;
			}
			margin-top: -18px;
			padding-right: 96px;
			hr {
				@media (max-width: 750px) {
					width: 202px;
					border: 0.75px solid $blue;
				}
				border: 1.2px solid $blue;
				width: 273px;
			}
		}

		p {
			@media (max-width: 750px) {
				font-size: 10px;
				margin-top: -15px;
			}
			margin-top: 15px;
			padding: 0 20px;
			text-align: center;
		}

		.about-body-mobile {
			margin-top: 15px;
			img {
				width: 325px;
			}
		}

		.about-body {
			@media (max-width: 750px) {
				padding-top: 50%;
			}
			padding-top: 50px;
			width: 100%;
			.about-image {
				width: 100%;
				img {
					@media (max-width: 750px) {
						height: 150px;
					}
					max-width: 1500px;
					width: 100%;
				}
			}
		}
	}
}
