.admin-tools {
	@extend %m-b-0, %t-a-c;
	padding: 10px 20px 20px 20px;

	button {
		margin-right: 5px;

		&:hover, &:focus { @extend .no-link-focus; }
	}

	h1 {
		@extend %m-t-0;
		color: $white;
		font-weight: 900;
	}

	.signout-button {
		@extend %l-s-t-n;
		opacity: 0.5;
		background-color: $darkblue;
		border: 1px solid $darkblue;

		&:hover {
			@extend %t-d-n;
			opacity: 1;
			color: $lightblue;
		}
	}

	.signout-button > li:hover,
	.signout-button > li > a:hover,
	button > li > a {
		@extend .no-link-focus;
		color: $lightblue;
	}

	.signout-button:focus,
	.signout-button > li:focus,
	.signout-button > li a:focus { @extend .no-link-focus, %t-d-n; }
}
