.admin-tools {
	padding: 10px 20px 20px 20px;
	margin-bottom: 0;
	text-align: center;

	button {
		margin-right: 5px;

		&:hover,
		&:focus {
			@extend .no-link-focus;
		}
	}

	h1 {
		color: $white;
		margin-top: 0;
		font-weight: 900;
	}

	.signout-button {
		list-style: none;
		opacity: 0.5;
		background-color: $darkblue;
		border: 1px solid $darkblue;

		&:hover {
			text-decoration: none;
			opacity: 1;
			color: $lightblue;
		}
	}

	.signout-button > li:hover,
	.signout-button > li > a:hover,
	button > li > a {
		@extend .no-link-focus;
		color: $lightblue;
	}

	.signout-button:focus,
	.signout-button > li:focus,
	.signout-button > li a:focus {
		text-decoration: none;
		@extend .no-link-focus;
	}
}
