::-webkit-scrollbar {
	display: none;
}

html {
	@media (max-width: 1000px) {
		overflow-y: scroll;
	}
	overflow: scroll;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: $lightblue;
	background-color: $trueblue;
}

.align-left {
	float: left !important;
}

.bottom-padded {
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.complete-expand {
	width: 100%;
}

.disabled {
	cursor: not-allowed;
}

.d-f {
	display: flex;
}

.default-font {
	font-family: 'Roboto', sans-serif;
}

.extra-large-icons {
	font-size: 75px;
	margin-bottom: 20px;
}

.fa {
	margin-right: 5px;
}

.flex-wrap-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.fix-cursor {
	cursor: pointer;
}

.f-l {
	float: left;
}

.f-r {
	float: right;
}

.landing-link {
	color: $white;
	margin-right: 40px;
	text-shadow: 1px 1px 5px $trueblue;
}

.landing-link:hover {
	color: $lightblue;
}

.l-i {
	font-size: 36px;
}

.large-icons {
	font-size: 30px;
}

.link-container {
	margin-top: 20px;
	margin-left: 40px;
}

.m-a {
	margin: auto;
}

.m-b {
	margin-bottom: 20px;
}

.m-r {
	margin-right: 10px;
}

.m-r-item {
	margin-right: 20px;
}

.m-t {
	margin-top: 20px;
}

.m-t-item {
	margin-top: 10px;
}

.m-20 {
	margin: 20px;
}

.partial-expand {
	width: 45%;
}

.p-l {
	padding-left: 5px;
}

.no-link-focus {
	text-decoration: none;
	outline: 0 !important;
}

.no-padding {
	padding-right: 0;
	padding-left: 0;
}

.small-icon {
	font-size: 14px;
	margin-top: 10px;
	padding-left: 10px;
}

.small-icons {
	font-size: 9px;
	margin-bottom: 10px;
}

.wrapper {
	width: 100%;
	overflow: scroll;
}
