body {
	font-family: $juraregular;
	font-size: 14px;
	font-weight: 600;
	color: $lightblue;
	background-color: $trueblue;
}

h1, h2, h3, h4, h5, h6 { color: $white; }

.error-message {
	@extend %t-a-c;
	font-size: 16px;
	font-family: $juramedium;
	color: $red;
}

.scrollbar {
  background-color: $softwarmgrey;
  border-radius: 3px;
}

.wrapper {
	@extend %w-100;
	max-width: 2000px;
}
