body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: $lightblue;
	background-color: $trueblue;
}

.cursive-font {
	font-family: 'Rock Salt', cursive;
}

.disabled {
	cursor: not-allowed;
}

.default-font {
	font-family: 'Roboto', sans-serif;
}

.fa {
	margin-right: 5px;
}

.flex-wrap-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.fix-cursor {
	cursor: pointer;
}

.large-icon {
	font-size: 20px;
}

.no-link-focus {
	text-decoration: none;
	outline: 0 !important;
}

.no-padding {
	padding: 0;
}

.scrollbar {
  background-color: $softwarmgrey;
  border-radius: 3px;
}

.separator {
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		$transparent,
		$owhite,
		$transparent
	);
}

.small-icon {
	font-size: 14px;
	margin-top: 10px;
	padding-left: 10px;
}

.wrapper {
	width: 100%;
	max-width: 2000px;
}
