.auth-container {
	@extend %flex-wrap-center, %m-0-a, .m-b-20, %m-t-20;
	min-height: 600px;
	background-color: transparent;
	padding: 10px 20px 30px 20px;

	form { width: 300px; }
	h1 { @extend %t-a-c, %w-100;}
}

.clear-values {
	@extend .f-r;
	width: 45%;

	&:focus { @extend .no-link-focus;}
}

.characters-left { font-size: 10px; }

.error-handlers {
	color: $orange;
	font-size: 11px;
	font-weight: 700;
	margin-bottom: 5px;
}

.form-label {
	@extend .m-b-20;
	color: $darkgrey;
	font-size: 12px;
}

.form-container {
	@extend %flex-wrap-center, %m-t-20;
	margin-bottom: 100px;
	padding: 10px 20px 30px 20px;

	form { width: 700px;}
	input { @extend %w-100; }
	textarea { height: 300px; }
	h1 { @extend %t-a-c, %w-100; }
}

.form-input {
	@extend %b-0, %outline-none, %w-100;
	margin-bottom: 5px;
	color: $owhite;
	background-color: transparent;
	border-bottom: 1px solid $lightblue;

	&:focus { border-bottom: 2px solid $orange; }
}

.form-details {
	@extend .form-input, %m-b-10;
	padding: 10px;
	border: 1px solid $lightblue;
}

.input-error { border-bottom: 2px solid $orange; }

.submit {
	width: 45%;

	&:focus {
		@extend .no-link-focus;
		background-color: $buttonblue;
		border-color: $transparent;
	}
}

.upload-container {
	@extend %t-a-c;
	padding: 15px;
	height: 150px;
	border-width: 2px;
	border-color: rgb(102, 102, 102);
	border-style: dashed;
	border-radius: 5px;

	i {
		font-size: 75px;
		color: $owhite;
	}
}

.uploaded-images-container {
	@extend %l-s-t-n;
	img {
		max-height: 100px;
	}
}
