.fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: $owhite;
	width: 100%;
	border-bottom: 1px solid $trueblue;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: .3s;
	animation-name: fadeIn;
	animation-duration: .3s;

	.navigation-container .navigation-bar li > a {
		color: $trueblue;

		&:hover {
			color: $lightblue;
		}
	}
}

.navigation-container {
	background: transparent;

	.navigation-bar {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		list-style: none;

		li {
			height: 40px;
			float: left;
			position: relative;
			display: block;
			margin-top: 15px;
		}

		li > a {
			padding: 10px 20px;
			color: $lightblue;
			transition: all 0.5s;

			&:hover {
				text-decoration: none;
				color: $owhite;
				@extend .fix-cursor;
			}

			&:focus {
				@extend .no-link-focus;
			}
		}
	}
}
