.empty-space {
	@extend %w-100;
	max-width: 2000px;
	color: $trueblue;
	z-index: -1;
	height: 30px;
}

.navigation-container {
	@extend %flex-wrap-center, %p-a, %w-100;
	background: transparent;
	max-width: 2000px;
	height: 70px;
	z-index: 1;

	.navigation-bar {
		@extend %m-t-10;
		margin-left: -30px;
		li {
			@extend %d-b, .f-l, %p-r;
			height: 40px;
			margin-top: 15px;
		}

		li > a {
			padding: 10px 20px;
			color: $lightblue;
			transition: all 0.5s;

			&:hover {
				@extend .fix-cursor, %t-d-n;
				color: $owhite;
			}

			&:focus {
				@extend .no-link-focus;
			}
		}
	}
}
