.alert {
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: $lightpink;
	border-color: $pink;
	color: $darkred;
	text-align: center;
	z-index: 1000;
	width: 50%;
	margin: 0 auto;
	margin-top: 40px;

	p {
		padding: 10px;
		font-size: 14px;
	}
}

.callout {
	padding: 16px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	line-height: 1.5;
	overflow: hidden;
	right: 0px;
	top: 24px;
	bottom: auto;
	position: fixed;
	width: 335px;
	margin-right: 24px;
	border: 1px solid transparent;
	border-radius: 4px;
	z-index: 1000;
	animation: fadeInRight 0.3s;

	.title {
		position: relative;
		margin-bottom: 10px;
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 4px;
		line-height: 20px;
		display: inline-block;
	}

	.message {
		padding: 10px;
		font-size: 14px;
	}

	.close-notification {
		@extend .fix-cursor;
		@extend .no-link-focus;
		position: absolute;
		right: 16px;
		top: 10px;
		color: rgba(0, 0, 0, 0.43);

		&:hover {
			color: rgba(0, 0, 0, 0.7);
			@extend .no-link-focus;
		}
	}
}

.error {
	background-color: $lightpink;
	border-color: $pink;
	color: $darkred;
}

.success {
	background-color: $palegreen;
	border-color: $lightgreen;
	color: $green;
}
