.project-container {
	@extend %t-a-c;
	background: $lightblue url(../images/projectViewBackground.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 40px;
	height: 1000px;
	max-width: 2000px;
	color: $owhite;

	.title {
		@extend .m-b-20;
		h1 {
			@media (max-width: 750px) { font-size: 25px; padding-top: 20%; }
			@extend .m-b-20;
			font-size: 30px;
		}
	}

	p { @media (max-width: 750px) { font-size: 10px; text-align: center; } }

	h1,	h2, h3, h4 { @extend %w-100; }

	.project-content {
		@media (max-width: 550px) { padding-top: 30%; }
		@media (max-width: 800px) {	width: 95%;	}
		@extend %m-a;
		padding-top: 20px;
		width: 800px;

		.slick-list { max-height: 650px;}
		.slick-dots { @extend %p-r; top: 10px; }

		.content {
			max-width: 800px;
			word-wrap: break-word;

			h2 { @media (max-width: 750px) { font-size: 20px;	}	}
			h3 { @media (max-width: 750px) { font-size: 18px;	}	}
			h4 { @media (max-width: 750px) { font-size: 14px;	}	}
			img {
				@media (max-width: 800px) { width: 80%;	}
				@extend %d-b, %m-a;
				max-width: 710px;
				max-height: 450px;
			}
			a {
				@include anim(background-color 0.3s ease-in-out forwards);
				color:($white);

				&:hover { color: $lightertrueblue; }
				&:focus { @extend %no-link-focus; }
			}
		}
	}
}

.noproject-container { @extend %h-100; }
