@import '../../../styles/index';

.formContainer {
  @extend %flex-wrap-center;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 10px 20px 30px 20px;

  form {
    width: 700px;
  }
  input {
    width: 100%;
  }
  textarea {
    height: 300px;
  }
  h1 {
    text-align: center;
    width: 100%;
  }
}
