.authContainer {
  @extend %flex-wrap-center;
  background-color: $trueblue;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  min-height: 600px;
  padding: 10px 20px 30px 20px;

  form {
    width: 300px;
  }

  h1 {
    text-align: center;
    color: $owhite;
    width: 100%;
  }
}
