@import '../../../styles/index';

.formDetails {
  outline: none !important;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  color: $owhite;
  background-color: transparent;
  border: 1px solid $lightblue;
  height: 90px;

  &:focus {
    border: 1px solid $lightblue;
  }
}

.input-error {
  border: 2px solid $orange;
}
