@import '../../../styles/index';

.content {
  max-width: 800px;
  word-wrap: break-word;

  a,
  h2,
  h3,
  h4 {
    color: $owhite;
    font-family: $juramedium;
  }

  h2 {
    @media (max-width: 750px) {
      font-size: 20px;
    }
    margin-top: 10px;
    font-weight: bold;
  }

  h3 {
    @media (max-width: 750px) {
      font-size: 18px;
    }
    font-style: italic;
  }

  h4 {
    @media (max-width: 750px) {
      font-size: 14px;
    }
  }

  img {
    @media (max-width: 800px) {
      max-width: 80%;
    }
    cursor: pointer;
    display: block;
    margin: auto;
    max-width: 800px;
    max-height: 450px;
  }

  a {
    @include anim(background-color 0.3s ease-in-out forwards);
    color: $seablue;

    &:hover {
      color: $lightertrueblue;
    }

    &:focus {
      outline: none !important;
      text-decoration: none;
    }
  }
}

.modalContent {
  text-align: center;
  min-height: 650px;
  margin-top: 40px;

  h2,
  h3,
  h4 {
    color: $trueblue;
    font-family: $juramedium;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
  }
}
