@import '../../../styles/index.scss';

.activePage,
.activePage:hover {
  background-color: $lightblue;
  border-radius: 4px;
  button {
    color: $owhite;
  }
}

.disableChevron,
.disableChevron:hover {
  button {
    color: grey;
    background: transparent;
    cursor: not-allowed;
  }
}

.paginationContainer {
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  width: 100%;
  font-size: 12px;

  button {
    border: 0;
    height: 100%;
    width: 100%;
    outline: none !important;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    padding: 5px 10px;
    color: $lightblue;

    &:hover {
      @include anim(background-color 0.3s ease-in-out forwards);
      outline: none !important;
      text-decoration: none;
      background-color: $lightblue;
      border-radius: 4px;
      color: $owhite;
    }

    &:focus {
      outline: none !important;
      text-decoration: none;
    }
  }

  li {
    display: inline-block;
    cursor: pointer;
    list-style-type: none;
    margin-right: 10px;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
  }
}
