/// --COLORS-- ///
// blues
$blue: #428fcc;
$blue-25: rgba(0, 137, 194, 0.25);
$buttonblue: #337ab7;
$darkblue: #17262c;
$darknavyblue: #23363d;
$darkishblue: #0e3342;
$lightblue: #1295f3;
$lightertrueblue: #044d81;
$lightgrey: #d3d3d3;
$navy-25: rgba(1, 64, 109, 0.25);
$navy-50: rgba(1, 64, 109, 0.5);
$navy-75: rgba(1, 64, 109, 0.75);
$seablue: #10222a;
$trueblue: #01406d;

// white
$owhite: #f8f9fa;
$owhite-25: rgba(248, 249, 250, 0.25);

//orange
$orange: #ff7f50;

//reds
$darkred: #a94442;
$red: #fa4946;
$lightpink: #f2dede;
$pink: #ebccd1;

//greens
$lightgreen: #d0e9c6;
$green: #3c763d;
$palegreen: #dff0d8;

//yellows
$gold: #8a6d3b;
$lightyellow: #fcf8e3;
$paleyellow: #faebcc;

// whites, greys, blacks
$lightwarmgrey: #aba4a2;
$softwarmgrey: #a5a1a1;
$lightcoolgrey: #cbcbcb;
$lightgrey: #d3d3d3;
$neutralgrey: #b3b3b3;
$disabledgrey: #b9b6b6;
$warmgrey: #686868;
$semidarkgrey: #6c6462;
$darkwarmgrey: #665c5b;
$darkgrey: #7d7d7d;
$darkbrown: #3a4141;
$darkerbrown: #333333;
$lightbrown: #4d4d4d;
$black: #282828;
$white: #ffffff;
$background: #f0f0f0;
$lightwhite: #f2f2f2;
$darkwhite: #efefef;
$darkerwhite: #e8e8e8;
$owhite: #f8f9fa;
$cream: #fafafa;
$cream2: #f8f8f8;
$offwhite: #fbe2dd;
$notificationwhite: #faf9fa;
$formgrey: #f0f0f0;
$transparent: rgba(0, 0, 0, 0);

/// END ///
