.notfoundContainer {
  @media (max-width: 900px) {
    height: 100vh;
    padding-top: 50%;
  }
  text-align: center;

  img {
    @media (max-width: 900px) {
      height: 300px;
      margin-left: -50px;
    }
    margin: 0 auto;
    height: 86vh;
  }
}
