@import url(~antd/dist/antd.min.css);
@import url(~font-awesome/css/font-awesome.css);
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes flipIn {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-out;
    opacity: 0; }
  50% {
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    animation-timing-function: ease-in;
    opacity: .5; }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
    opacity: 1; } }

@keyframes flipOut {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
    opacity: 1; }
  50% {
    transform: perspective(400px) rotate3d(0, 1, 0, -270deg);
    animation-timing-function: ease-in;
    opacity: .5; }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
    opacity: 0; } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/MaterialIcons-Regular.eot") format("eot"), url("assets/fonts/MaterialIcons-Regular.woff2") format("woff2"), url("assets/fonts/MaterialIcons-Regular.woff") format("woff"), url("assets/fonts/MaterialIcons-Regular.ttf") format("truetype"), url("assets/fonts/MaterialIcons-Regular.svg") format("svg"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("~font-awesome/fonts/fontawesome-webfont.eot") format("eot"), url("~font-awesome/fonts/fontawesome-webfont.woff2") format("woff2"), url("~font-awesome/fonts/fontawesome-webfont.woff") format("woff"), url("~font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"), url("~font-awesome/fonts/fontawesome-webfont.svg") format("svg"); }

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Jura-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Jura-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Jura-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Jura-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Jura-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype"); }

.clear-fix {
  content: "";
  display: table;
  clear: both; }

.blog-container hr, .placard hr, .entry-link > a, .pagination-container button, .post-container hr, .form-input, .form-details, .scroll {
  border: 0; }

.about-container .about-content .about-body-mobile img, .about-container .about-content .about-body .about-image img, .entry-image img, .post-container, .footer-container .contact-nav li, .navigation-container .navigation-bar li, .project-container .project-content .content img, .scroll {
  display: block; }

.pagination-container li {
  display: inline-block; }

.fa {
  margin-right: 5px; }

.fix-cursor, .pagination-container li, .footer-container .contact-nav li > a:hover, .navigation-container .navigation-bar li > a:hover, .scroll {
  cursor: pointer; }

.footer-container .contact-nav, .auth-container, .form-container, .navigation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.f-l, .footer-container .contact-nav li, .navigation-container .navigation-bar li {
  float: left; }

.f-r, .clear-values {
  float: right; }

.about-bg, .pagination-container button, .noproject-container {
  height: 100%; }

.large-icon {
  font-size: 20px; }

.admin-tools .signout-button, .pagination-container li, .footer-container .contact-nav, .uploaded-images-container {
  list-style-type: none; }

.blog-container p {
  margin: 0; }

.about-container .about-content .about-body-mobile img, .about-container .about-content .about-body .about-image img, .entry-image img, .post-container, .footer-container .contact-nav, .auth-container, .notfound-container img {
  margin: 0 auto; }

.project-container .project-content, .project-container .project-content .content img, .spinner, .spinner-clockwise, .spinner-counterclockwise {
  margin: auto; }

.admin-tools, .post-container hr {
  margin-bottom: 0px; }

.blog-container hr, .entry-date, .form-details {
  margin-bottom: 10px; }

.m-b-20, .blog-container .title, .pagination-container, .auth-container, .form-label, .project-container .title, .project-container .title h1 {
  margin-bottom: 20px; }

.m-l-5 {
  margin-left: 5px; }

.pagination-container li {
  margin-right: 10px; }

.admin-tools h1 {
  margin-top: 0; }

.small-icon, .navigation-container .navigation-bar {
  margin-top: 10px; }

.blog-container hr, .entry-content, .entry-link, .entry-image img, .post-container hr, .auth-container, .form-container {
  margin-top: 20px; }

.no-link-focus, .admin-tools button:hover, .admin-tools button:focus, .admin-tools .signout-button > li:hover,
.admin-tools .signout-button > li > a:hover,
.admin-tools button > li > a, .admin-tools .signout-button:focus,
.admin-tools .signout-button > li:focus,
.admin-tools .signout-button > li a:focus, .pagination-container button:hover, .pagination-container button:focus, .footer-container .contact-nav li > a:focus, .clear-values:focus, .submit:focus, .navigation-container .navigation-bar li > a:focus, .scroll:focus, .pagination-container button, .form-input, .form-details {
  outline: none !important; }

.navigation-container, .spinner, .spinner-clockwise, .spinner-counterclockwise {
  position: absolute; }

.pagination-container {
  padding: 0; }

.footer-container .contact-nav li, .navigation-container .navigation-bar li, .project-container .project-content .slick-dots, .spinner-container {
  position: relative; }

.small-icon {
  padding-left: 10px; }

.small-icon {
  font-size: 14px; }

.blog-container hr, .placard hr {
  height: 1px;
  background-image: linear-gradient(to right, transparent, #f8f9fa, transparent); }

.about-container .about-content p, .admin-tools, .blog-container .title, .entry-date, .entry-title, .img-title, .pagination-container, .pagination-container li, .auth-container h1, .form-container h1, .upload-container, .placard, .notfound-container, .project-container, .scroll {
  text-align: center; }

.no-link-focus, .admin-tools button:hover, .admin-tools button:focus, .admin-tools .signout-button > li:hover,
.admin-tools .signout-button > li > a:hover,
.admin-tools button > li > a, .admin-tools .signout-button:focus,
.admin-tools .signout-button > li:focus,
.admin-tools .signout-button > li a:focus, .pagination-container button:hover, .pagination-container button:focus, .footer-container .contact-nav li > a:focus, .clear-values:focus, .submit:focus, .navigation-container .navigation-bar li > a:focus, .scroll:focus, .admin-tools .signout-button:hover, .entry-link > a:hover, .pagination-container button, .footer-container .contact-nav li > a:hover, .navigation-container .navigation-bar li > a:hover {
  text-decoration: none; }

.entry-title, .scroll .text {
  text-transform: uppercase; }

.about-container, .about-container .about-content .about-body, .about-container .about-content .about-body .about-image, .about-container .about-content .about-body .about-image img, .entry-date, .entry-content, .entry-link, .entry-title, .img-title, .pagination-container, .pagination-container button, .post-container hr, .wrapper, .auth-container h1, .form-container input, .form-container h1, .form-input, .form-details, .index-container, .placard, .empty-space, .navigation-container, .project-container h1, .project-container h2, .project-container h3, .project-container h4, .scroll .text {
  width: 100%; }

.about-bgcolor {
  background-color: #ffffff;
  height: 1000px;
  max-width: 2000px;
  margin-top: -1px; }

.about-bg {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  background: white url(../images/aboutViewBackground.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  opacity: 0.07; }

.about-container {
  position: absolute;
  left: 0px;
  top: 1200px;
  z-index: 2;
  height: 1000px;
  padding-top: 100px;
  color: #428fcc; }
  @media (max-width: 750px) {
    .about-container {
      background-size: 350%;
      background-position: center; } }
  .about-container h1 {
    font-size: 30px;
    margin-bottom: 40px; }
    @media (max-width: 750px) {
      .about-container h1 {
        font-size: 25px; } }
  .about-container .about-content {
    margin-top: -100px; }
    .about-container .about-content .underline {
      margin-top: -16px;
      padding-right: 103px; }
      @media (max-width: 749px) {
        .about-container .about-content .underline {
          display: none; } }
      @media (max-width: 750px) {
        .about-container .about-content .underline {
          padding-right: 70px; } }
      .about-container .about-content .underline hr {
        border: 1.2px solid #428fcc;
        width: 300px; }
        @media (max-width: 750px) {
          .about-container .about-content .underline hr {
            width: 202px;
            border: 0.75px solid #428fcc; } }
    .about-container .about-content p {
      margin-top: 15px;
      padding: 0 20px; }
      @media (max-width: 750px) {
        .about-container .about-content p {
          font-size: 10px;
          margin-top: -15px; } }
    .about-container .about-content .about-body-mobile {
      margin-top: 100px; }
      .about-container .about-content .about-body-mobile img {
        width: 325px; }
        @media (max-width: 350px) {
          .about-container .about-content .about-body-mobile img {
            width: 100%; } }
    .about-container .about-content .about-body {
      padding-top: 50px; }
      @media (max-width: 750px) {
        .about-container .about-content .about-body {
          padding-top: 50%; } }
      .about-container .about-content .about-body .about-image img {
        max-width: 1500px; }
        @media (max-width: 750px) {
          .about-container .about-content .about-body .about-image img {
            height: 150px; } }

.admin-tools {
  padding: 10px 20px 20px 20px; }
  .admin-tools button {
    margin-right: 5px; }
  .admin-tools h1 {
    color: #ffffff;
    font-weight: 900; }
  .admin-tools .signout-button {
    opacity: 0.5;
    background-color: #17262c;
    border: 1px solid #17262c; }
    .admin-tools .signout-button:hover {
      opacity: 1;
      color: #1295f3; }
  .admin-tools .signout-button > li:hover,
  .admin-tools .signout-button > li > a:hover,
  .admin-tools button > li > a {
    color: #1295f3; }

.blog-container {
  min-height: 850px;
  margin-bottom: 30px;
  transition: all 0.3s; }
  .blog-container hr {
    width: 50%; }
    @media (max-width: 750px) {
      .blog-container hr {
        width: 90%; } }
  .blog-container .title {
    padding-top: 1px;
    margin-top: 45px; }
    .blog-container .title h1 {
      font-size: 32px; }
    .blog-container .title p {
      font-size: 10px;
      color: #f8f9fa; }

.entry-date {
  margin-top: -10px;
  font-size: 12px; }

.entry-content {
  color: #f8f9fa;
  font-size: 12px;
  font-weight: 400; }

.entry-link > a {
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  color: #ffffff;
  background-color: transparent;
  transition: all 0.5s; }
  .entry-link > a:hover {
    -webkit-animation: background-color 0.3s ease-in-out forwards;
    animation: background-color 0.3s ease-in-out forwards;
    padding: 10px;
    border-radius: 20px;
    color: #1295f3; }

.entry-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 900; }

.entry-image img {
  max-width: 700px;
  max-height: 500px;
  margin-bottom: 5px;
  padding: 10px; }
  @media (max-width: 750px) {
    .entry-image img {
      max-width: 325px; } }

.img-title {
  font-size: 10px;
  font-weight: 400;
  color: grey; }

.pagination-container {
  font-size: 12px; }
  .pagination-container .small-font {
    font-size: 10px; }
  .pagination-container button {
    cursor: pointer;
    background: transparent;
    padding: 5px 10px;
    color: #1295f3; }
    .pagination-container button:hover {
      -webkit-animation: background-color 0.3s ease-in-out forwards;
      animation: background-color 0.3s ease-in-out forwards;
      background-color: #1295f3;
      border-radius: 4px;
      color: #f8f9fa; }
  .pagination-container li {
    border-radius: 4px;
    vertical-align: middle; }
  .pagination-container .active-page, .pagination-container .active-page:hover {
    background-color: #1295f3;
    border-radius: 4px; }
    .pagination-container .active-page button, .pagination-container .active-page:hover button {
      color: #f8f9fa; }
  .pagination-container .disable-chevron button, .pagination-container .disable-chevron:hover button {
    color: grey;
    background: transparent;
    cursor: not-allowed; }

.post-container {
  width: 800px; }
  @media (max-width: 850px) {
    .post-container {
      width: 95%; } }
  .post-container hr {
    height: 1px;
    background-image: linear-gradient(to right, transparent, #f8f9fa, transparent); }
    @media (max-width: 750px) {
      .post-container hr {
        width: 100%; } }

body {
  font-family: "Jura", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #1295f3;
  background-color: #01406d; }

h1, h2, h3, h4, h5, h6 {
  color: #ffffff; }

.scrollbar {
  background-color: #a5a1a1;
  border-radius: 3px; }

.wrapper {
  max-width: 2000px; }

.footer-container {
  background-color: #01406d; }
  .footer-container .contact-nav {
    padding-top: 5px; }
    @media (max-width: 650px) {
      .footer-container .contact-nav {
        margin-left: -20px; } }
    .footer-container .contact-nav li {
      height: 40px;
      margin-top: 15px; }
    .footer-container .contact-nav li > a {
      padding: 10px 15px;
      color: #1295f3;
      transition: all 0.5s; }
      .footer-container .contact-nav li > a:hover {
        color: #f8f9fa; }
    .footer-container .contact-nav p {
      margin-right: 20px; }

.auth-container {
  min-height: 600px;
  background-color: transparent;
  padding: 10px 20px 30px 20px; }
  .auth-container form {
    width: 300px; }

.clear-values {
  width: 45%; }

.characters-left {
  font-size: 10px; }

.error-handlers {
  color: #ff7f50;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 5px; }

.form-label {
  color: #7d7d7d;
  font-size: 12px; }

.form-container {
  margin-bottom: 100px;
  padding: 10px 20px 30px 20px; }
  .form-container form {
    width: 700px; }
  .form-container textarea {
    height: 300px; }

.form-input, .form-details {
  margin-bottom: 5px;
  color: #f8f9fa;
  background-color: transparent;
  border-bottom: 1px solid #1295f3; }
  .form-input:focus, .form-details:focus {
    border-bottom: 2px solid #ff7f50; }

.form-details {
  padding: 10px;
  border: 1px solid #1295f3; }

.input-error {
  border-bottom: 2px solid #ff7f50; }

.submit {
  width: 45%; }
  .submit:focus {
    background-color: #337ab7;
    border-color: transparent; }

.upload-container {
  padding: 15px;
  height: 150px;
  border-width: 2px;
  border-color: #666666;
  border-style: dashed;
  border-radius: 5px; }
  .upload-container i {
    font-size: 75px;
    color: #f8f9fa; }

.uploaded-images-container img {
  max-height: 100px; }

.index-container {
  height: 1000px;
  max-width: 2000px;
  background: #01406d url(../images/indexViewBackground.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat; }

.placard {
  color: #f8f9fa;
  height: 300px;
  padding-top: 25px;
  margin-top: 200px; }
  @media (max-width: 750px) {
    .placard {
      padding-top: 50%; } }
  .placard h1 {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 5px;
    margin-bottom: -1px;
    text-shadow: 1px 1px 5px #01406d; }
    @media (max-width: 750px) {
      .placard h1 {
        font-size: 25px; } }
  .placard p {
    font-size: 14px;
    letter-spacing: 1px; }
    @media (max-width: 750px) {
      .placard p {
        font-size: 10px; } }
  .placard hr {
    width: 800px; }
    @media (max-width: 750px) {
      .placard hr {
        width: 90%; } }

.empty-space {
  max-width: 2000px;
  color: #01406d;
  z-index: -1;
  height: 30px; }

.navigation-container {
  background: transparent;
  max-width: 2000px;
  height: 70px;
  z-index: 1; }
  .navigation-container .navigation-bar {
    margin-left: -30px; }
    .navigation-container .navigation-bar li {
      height: 40px;
      margin-top: 15px; }
    .navigation-container .navigation-bar li > a {
      padding: 10px 20px;
      color: #1295f3;
      transition: all 0.5s; }
      @media (max-width: 750px) {
        .navigation-container .navigation-bar li > a {
          padding: 10px; } }
      .navigation-container .navigation-bar li > a:hover {
        color: #f8f9fa; }

@media (max-width: 900px) {
  .notfound-container {
    height: 100vh;
    padding-top: 50%; } }

.notfound-container img {
  height: 86vh; }
  @media (max-width: 900px) {
    .notfound-container img {
      height: 300px;
      margin-left: -50px; } }

.project-container {
  background: #1295f3 url(../images/projectViewBackground.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 40px;
  height: 1000px;
  max-width: 2000px;
  color: #f8f9fa; }
  .project-container .title h1 {
    font-size: 30px; }
    @media (max-width: 750px) {
      .project-container .title h1 {
        font-size: 25px;
        padding-top: 20%; } }
  @media (max-width: 750px) {
    .project-container p {
      font-size: 10px;
      text-align: center; } }
  .project-container .project-content {
    padding-top: 20px;
    width: 800px; }
    @media (max-width: 550px) {
      .project-container .project-content {
        padding-top: 30%; } }
    @media (max-width: 800px) {
      .project-container .project-content {
        width: 95%; } }
    .project-container .project-content .slick-list {
      max-height: 650px; }
    .project-container .project-content .slick-dots {
      top: 10px; }
    .project-container .project-content .content {
      max-width: 800px;
      word-wrap: break-word; }
      @media (max-width: 750px) {
        .project-container .project-content .content h2 {
          font-size: 20px; } }
      @media (max-width: 750px) {
        .project-container .project-content .content h3 {
          font-size: 18px; } }
      @media (max-width: 750px) {
        .project-container .project-content .content h4 {
          font-size: 14px; } }
      .project-container .project-content .content img {
        max-width: 710px;
        max-height: 450px; }
        @media (max-width: 800px) {
          .project-container .project-content .content img {
            width: 80%; } }

.scroll {
  z-index: 2000;
  background-color: #17262c;
  width: 75px;
  height: 45px;
  position: fixed;
  border-radius: 5px;
  bottom: 10px;
  right: 10px;
  padding: 3px; }
  @media (max-width: 800px) {
    .scroll {
      width: 55px;
      height: 30px;
      padding: 0;
      bottom: 62px;
      right: 10px; } }
  .scroll .text {
    font-size: 13px;
    margin-left: 3px; }
    @media (max-width: 800px) {
      .scroll .text {
        display: none; } }
  .scroll .icon i {
    width: 100%; }
    @media (max-width: 800px) {
      .scroll .icon i {
        margin-top: 6px;
        font-size: 18px; } }
  .scroll:hover {
    background-color: #17262c;
    color: #1295f3; }

.scrolltransition-enter {
  -webkit-animation-name: flipIn;
  -webkit-animation-duration: 0.3s;
  animation-name: flipIn;
  animation-duration: 0.3s; }

.scrolltransition-leave {
  -webkit-animation-name: flipOut;
  -webkit-animation-duration: 0.2s;
  animation-name: flipOut;
  animation-duration: 0.2s; }

.spinner, .spinner-clockwise, .spinner-counterclockwise {
  -webkit-animation: rotate 0.8s 0s ease-in-out infinite;
  animation: rotate 0.8s 0s ease-in-out infinite;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 100%; }

.spinner-counterclockwise {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  animation-direction: alternate; }

.spinner-container {
  -webkit-animation: fadeIn 1s 0s ease-in-out forwards;
  animation: fadeIn 1s 0s ease-in-out forwards;
  margin-top: 20%;
  margin-bottom: 20%;
  padding-bottom: 30px;
  transition: ease-in-out; }

.outer-circle {
  height: 75px;
  border: 4px solid;
  border-color: transparent #f8f9fa;
  width: 75px; }
  @media (max-width: 1000px) {
    .outer-circle {
      border: 2px solid;
      border-color: transparent #f8f9fa;
      height: 37px;
      width: 37px; } }

.middle-circle {
  border: 2px solid;
  border-color: transparent #f8f9fa;
  height: 50px;
  width: 50px; }
  @media (max-width: 1000px) {
    .middle-circle {
      border: 1px solid;
      border-color: transparent #f8f9fa;
      height: 25px;
      width: 25px; } }

.inner-circle {
  border: 1px solid;
  border-color: transparent #f8f9fa;
  height: 42px;
  width: 42px; }
  @media (max-width: 1000px) {
    .inner-circle {
      border: 1px solid;
      border-color: transparent #f8f9fa;
      height: 21px;
      width: 21px; } }
