@import url(~antd/dist/antd.min.css);
@import url(~font-awesome/css/font-awesome.css);
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes flipIn {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-out;
    opacity: 0; }
  50% {
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    animation-timing-function: ease-in;
    opacity: .5; }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
    opacity: 1; } }

@keyframes flipOut {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
    opacity: 1; }
  50% {
    transform: perspective(400px) rotate3d(0, 1, 0, -270deg);
    animation-timing-function: ease-in;
    opacity: .5; }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
    opacity: 0; } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/MaterialIcons-Regular.eot") format("eot"), url("assets/fonts/MaterialIcons-Regular.woff2") format("woff2"), url("assets/fonts/MaterialIcons-Regular.woff") format("woff"), url("assets/fonts/MaterialIcons-Regular.ttf") format("truetype"), url("assets/fonts/MaterialIcons-Regular.svg") format("svg"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("~font-awesome/fonts/fontawesome-webfont.eot") format("eot"), url("~font-awesome/fonts/fontawesome-webfont.woff2") format("woff2"), url("~font-awesome/fonts/fontawesome-webfont.woff") format("woff"), url("~font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"), url("~font-awesome/fonts/fontawesome-webfont.svg") format("svg"); }

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Jura-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Jura-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Jura-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Jura-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Jura-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype"); }

.clear-fix {
  content: "";
  display: table;
  clear: both; }

.entry-link > a, .pagination-container button, .post-container hr {
  border: 0; }

.about-container .about-content .about-body-mobile img, .about-container .about-content .about-body .about-image img, .entry-image img, .footer-container .contact-nav li {
  display: block; }

.pagination-container li {
  display: inline-block; }

.fa {
  margin-right: 5px; }

.fix-cursor, .pagination-container li, .footer-container .contact-nav li > a:hover, .navigation-container .navigation-bar li > a:hover, .callout .close-notification, .scroll {
  cursor: pointer; }

.f-l, .footer-container .contact-nav li {
  float: left; }

.f-r {
  float: right; }

.admin-tools .signout-button, .pagination-container li, .footer-container .contact-nav {
  list-style-type: none; }

.blog-container p {
  margin: 0; }

.about-container .about-content .about-body-mobile img, .about-container .about-content .about-body .about-image img, .entry-image img, .post-container, .footer-container .contact-nav {
  margin: 0 auto; }

.admin-tools, .post-container hr {
  margin-bottom: 0px; }

.pagination-container {
  margin-bottom: 20px; }

.m-l-5 {
  margin-left: 5px; }

.pagination-container li {
  margin-right: 10px; }

.admin-tools h1 {
  margin-top: 0; }

.entry-content, .entry-link, .entry-image img, .post-container hr {
  margin-top: 20px; }

.pagination-container {
  padding: 0; }

.footer-container .contact-nav li, .project-container .project-content .slick-dots {
  position: relative; }

.admin-tools, .entry-date, .entry-title, .img-title, .pagination-container, .pagination-container li {
  text-align: center; }

.admin-tools .signout-button:hover, .admin-tools .signout-button:focus,
.admin-tools .signout-button > li:focus,
.admin-tools .signout-button > li a:focus, .entry-link > a:hover, .pagination-container button, .no-link-focus, .admin-tools button:hover, .admin-tools button:focus, .admin-tools .signout-button > li:hover,
.admin-tools .signout-button > li > a:hover,
.admin-tools button > li > a, .pagination-container button:hover, .pagination-container button:focus, .footer-container .contact-nav li > a:focus, .clear-values :focus, .submit:focus, .navigation-container .navigation-bar li > a:focus, .callout .close-notification, .callout .close-notification:hover, .scroll:focus, .footer-container .contact-nav li > a:hover {
  text-decoration: none; }

.entry-title {
  text-transform: uppercase; }

.about-container {
  background: white url(../images/aboutViewBackground.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  margin-top: -1px;
  padding-top: 100px;
  color: #428fcc; }
  @media (max-width: 750px) {
    .about-container {
      background-size: 350%;
      background-position: center; } }
  .about-container h1 {
    font-size: 30px;
    margin-bottom: 40px; }
    @media (max-width: 750px) {
      .about-container h1 {
        font-size: 25px; } }
  .about-container .about-content {
    margin-top: -100px; }
    .about-container .about-content .underline {
      margin-top: -16px;
      padding-right: 103px; }
      @media (max-width: 749px) {
        .about-container .about-content .underline {
          display: none; } }
      @media (max-width: 750px) {
        .about-container .about-content .underline {
          padding-right: 70px; } }
      .about-container .about-content .underline hr {
        border: 1.2px solid #428fcc;
        width: 300px; }
        @media (max-width: 750px) {
          .about-container .about-content .underline hr {
            width: 202px;
            border: 0.75px solid #428fcc; } }
    .about-container .about-content p {
      margin-top: 15px;
      padding: 0 20px;
      text-align: center; }
      @media (max-width: 750px) {
        .about-container .about-content p {
          font-size: 10px;
          margin-top: -15px; } }
    .about-container .about-content .about-body-mobile {
      margin-top: 15px; }
      .about-container .about-content .about-body-mobile img {
        width: 325px; }
    .about-container .about-content .about-body {
      padding-top: 50px;
      width: 100%; }
      @media (max-width: 750px) {
        .about-container .about-content .about-body {
          padding-top: 50%; } }
      .about-container .about-content .about-body .about-image {
        width: 100%; }
        .about-container .about-content .about-body .about-image img {
          max-width: 1500px;
          width: 100%; }
          @media (max-width: 750px) {
            .about-container .about-content .about-body .about-image img {
              height: 150px; } }

.admin-tools {
  padding: 10px 20px 20px 20px; }
  .admin-tools button {
    margin-right: 5px; }
  .admin-tools h1 {
    color: #ffffff;
    font-weight: 900; }
  .admin-tools .signout-button {
    opacity: 0.5;
    background-color: #17262c;
    border: 1px solid #17262c; }
    .admin-tools .signout-button:hover {
      opacity: 1;
      color: #1295f3; }
  .admin-tools .signout-button > li:hover,
  .admin-tools .signout-button > li > a:hover,
  .admin-tools button > li > a {
    color: #1295f3; }

.blog-container {
  min-height: 850px;
  margin-bottom: 30px;
  transition: all 0.3s; }
  .blog-container hr {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%; }
    @media (max-width: 750px) {
      .blog-container hr {
        width: 90%; } }
  .blog-container .title {
    text-align: center;
    padding-top: 1px;
    margin-top: 45px;
    margin-bottom: 20px; }
    .blog-container .title h1 {
      font-size: 32px; }
    .blog-container .title p {
      font-size: 10px;
      color: #f8f9fa; }

.entry-date {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 12px; }

.entry-content {
  color: #f8f9fa;
  font-size: 12px;
  font-weight: 400;
  width: 100%; }

.entry-link {
  width: 100%; }

.entry-link > a {
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  color: #ffffff;
  background-color: transparent;
  transition: all 0.5s; }
  .entry-link > a:hover {
    padding: 10px;
    border-radius: 20px;
    color: #1295f3;
    -webkit-animation: background-color 0.3s ease-in-out forwards;
    animation: all 0.3s ease-in-out forwards; }

.entry-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 900;
  width: 100%; }

.entry-image img {
  max-width: 700px;
  max-height: 500px;
  margin-bottom: 5px;
  padding: 10px; }
  @media (max-width: 750px) {
    .entry-image img {
      max-width: 325px; } }

.img-title {
  font-size: 10px;
  font-weight: 400;
  color: grey;
  width: 100%; }

.pagination-container {
  font-size: 12px;
  width: 100%; }
  .pagination-container .small-font {
    font-size: 10px; }
  .pagination-container button {
    cursor: pointer;
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    padding: 5px 10px;
    color: #1295f3;
    outline: 0; }
    .pagination-container button:hover {
      background-color: #1295f3;
      border-radius: 4px;
      color: #f8f9fa;
      -webkit-animation: background-color 0.3s ease-in-out forwards;
      animation: all 0.3s ease-in-out forwards; }
  .pagination-container li {
    border-radius: 4px;
    vertical-align: middle; }
  .pagination-container .active-page, .pagination-container .active-page:hover {
    background-color: #1295f3;
    border-radius: 4px; }
    .pagination-container .active-page button, .pagination-container .active-page:hover button {
      color: #f8f9fa; }
  .pagination-container .disable-chevron button, .pagination-container .disable-chevron:hover button {
    color: grey;
    background: transparent;
    cursor: not-allowed; }

.post-container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  @media (max-width: 850px) {
    .post-container {
      width: 95%; } }
  .post-container hr {
    height: 1px;
    background-image: linear-gradient(to right, transparent, #f8f9fa, transparent);
    width: 100%; }
    @media (max-width: 750px) {
      .post-container hr {
        width: 100%; } }

body {
  font-family: "Jura", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #1295f3;
  background-color: #01406d; }

h1, h2, h3, h4, h5, h6 {
  color: #ffffff; }

.disabled {
  cursor: not-allowed; }

.default-font {
  font-family: 'Roboto', sans-serif; }

.fa {
  margin-right: 5px; }

.flex-wrap-center, .auth-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.fix-cursor, .pagination-container li, .footer-container .contact-nav li > a:hover, .navigation-container .navigation-bar li > a:hover, .callout .close-notification, .scroll {
  cursor: pointer; }

.large-icon {
  font-size: 20px; }

.no-link-focus, .admin-tools button:hover, .admin-tools button:focus, .admin-tools .signout-button > li:hover,
.admin-tools .signout-button > li > a:hover,
.admin-tools button > li > a, .admin-tools .signout-button:focus,
.admin-tools .signout-button > li:focus,
.admin-tools .signout-button > li a:focus, .pagination-container button:hover, .pagination-container button:focus, .footer-container .contact-nav li > a:focus, .clear-values :focus, .submit:focus, .navigation-container .navigation-bar li > a:focus, .callout .close-notification, .callout .close-notification:hover, .scroll:focus {
  outline: 0 !important; }

.no-padding {
  padding: 0; }

.scrollbar {
  background-color: #a5a1a1;
  border-radius: 3px; }

.separator, .blog-container hr, .placard hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #f8f9fa, transparent); }

.small-icon {
  font-size: 14px;
  margin-top: 10px;
  padding-left: 10px; }

.wrapper {
  width: 100%;
  max-width: 2000px; }

.footer-container {
  background-color: #01406d; }
  .footer-container .contact-nav {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    @media (max-width: 650px) {
      .footer-container .contact-nav {
        margin-left: -20px; } }
    .footer-container .contact-nav li {
      height: 40px;
      margin-top: 15px; }
    .footer-container .contact-nav li > a {
      padding: 10px 15px;
      color: #1295f3;
      transition: all 0.5s; }
      .footer-container .contact-nav li > a:hover {
        color: #f8f9fa; }
    .footer-container .contact-nav p {
      margin-right: 20px; }

.auth-container {
  min-height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  padding: 10px 20px 30px 20px; }
  .auth-container form {
    width: 300px; }
  .auth-container h1 {
    text-align: center;
    width: 100%; }

.clear-values {
  width: 45%;
  float: right; }

.characters-left {
  font-size: 10px; }

.error-handlers {
  font-size: 11px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #ff7f50; }

.form-label {
  color: #7d7d7d;
  font-size: 12px;
  margin-bottom: 20px; }

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 10px 20px 30px 20px; }
  .form-container form {
    width: 700px; }
  .form-container input {
    width: 100%; }
  .form-container textarea {
    height: 300px; }
  .form-container h1 {
    text-align: center;
    width: 100%; }

.form-input, .form-details {
  width: 100%;
  margin-bottom: 5px;
  color: #f8f9fa;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #1295f3; }
  .form-input:focus, .form-details:focus {
    border-bottom: 2px solid #ff7f50; }

.form-details {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #1295f3; }

.input-error {
  border-bottom: 2px solid #ff7f50; }

.submit {
  width: 45%; }
  .submit:focus {
    background-color: #337ab7;
    border-color: transparent; }

.upload-container {
  padding: 15px;
  height: 150px;
  border-width: 2px;
  border-color: #666666;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px; }
  .upload-container i {
    font-size: 75px;
    color: #f8f9fa; }

.uploaded-images-container {
  list-style: none; }
  .uploaded-images-container img {
    max-height: 100px; }

.index-container {
  height: 1000px;
  max-width: 2000px;
  width: 100%;
  background: #01406d url(../images/indexViewBackground.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat; }

.placard {
  color: #f8f9fa;
  width: 100%;
  height: 300px;
  padding-top: 25px;
  margin-top: 200px;
  text-align: center; }
  @media (max-width: 750px) {
    .placard {
      padding-top: 50%; } }
  .placard h1 {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 5px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px #01406d; }
    @media (max-width: 750px) {
      .placard h1 {
        font-size: 25px; } }
  .placard p {
    font-size: 14px;
    letter-spacing: 1px; }
    @media (max-width: 750px) {
      .placard p {
        font-size: 10px; } }
  .placard hr {
    width: 800px; }
    @media (max-width: 750px) {
      .placard hr {
        width: 90%; } }

.empty-space {
  max-width: 2000px;
  width: 100%;
  color: #01406d;
  z-index: -1;
  height: 30px; }

.fixed-nav {
  background: #f8f9fa !important;
  border-bottom: 1px solid #01406d;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.3s;
  animation-name: fadeIn;
  animation-duration: 0.3s; }
  .fixed-nav .navigation-bar li > a {
    color: #01406d !important; }
    .fixed-nav .navigation-bar li > a:hover {
      color: #1295f3 !important; }

.navigation-container {
  background: transparent;
  position: absolute;
  max-width: 2000px;
  width: 100%;
  height: 50px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none; }
  .navigation-container .navigation-bar {
    margin-top: 10px;
    margin-left: -30px; }
    .navigation-container .navigation-bar li {
      height: 40px;
      float: left;
      position: relative;
      display: block;
      margin-top: 15px; }
    .navigation-container .navigation-bar li > a {
      padding: 10px 20px;
      color: #1295f3;
      transition: all 0.5s; }
      .navigation-container .navigation-bar li > a:hover {
        text-decoration: none;
        color: #f8f9fa; }

.notfound-container {
  text-align: center; }
  @media (max-width: 900px) {
    .notfound-container {
      height: 100vh;
      padding-top: 50%; } }
  .notfound-container img {
    height: 86vh;
    margin: 0 auto; }
    @media (max-width: 900px) {
      .notfound-container img {
        height: 300px;
        margin-left: -50px; } }

.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: center;
  z-index: 2;
  width: 50%;
  margin: 0 auto;
  margin-top: 40px; }
  .alert p {
    padding: 10px;
    font-size: 14px; }

.callout {
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  overflow: hidden;
  right: 0px;
  top: 24px;
  bottom: auto;
  position: fixed;
  width: 335px;
  margin-right: 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 1000;
  animation: fadeInRight 0.3s; }
  .callout .title {
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    line-height: 20px;
    display: inline-block; }
  .callout .message {
    padding: 10px;
    font-size: 14px; }
  .callout .close-notification {
    position: absolute;
    right: 16px;
    top: 10px;
    color: rgba(0, 0, 0, 0.43); }
    .callout .close-notification:hover {
      color: rgba(0, 0, 0, 0.7); }

.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442; }

.success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d; }

.project-container {
  background: #1295f3 url(../images/projectViewBackground.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 40px;
  height: 1000px;
  color: #f8f9fa;
  text-align: center; }
  @media (max-width: 750px) {
    .project-container {
      background-size: 250%;
      background-position: center; } }
  .project-container .title {
    margin-bottom: 20px; }
    .project-container .title h1 {
      font-family: "Jura", sans-serif;
      font-size: 30px;
      margin-bottom: 20px; }
      @media (max-width: 750px) {
        .project-container .title h1 {
          font-size: 25px;
          padding-top: 20%; } }
  @media (max-width: 750px) {
    .project-container p {
      font-size: 10px;
      text-align: center; } }
  .project-container h1,
  .project-container h2,
  .project-container h3,
  .project-container h4 {
    width: 100%; }
  .project-container .project-content {
    padding-top: 20px;
    width: 800px;
    margin: auto; }
    @media (max-width: 550px) {
      .project-container .project-content {
        padding-top: 30%; } }
    @media (max-width: 800px) {
      .project-container .project-content {
        width: 95%; } }
    .project-container .project-content .slick-list {
      max-height: 650px; }
    .project-container .project-content .slick-dots {
      top: 10px; }
    .project-container .project-content .chevron, .project-container .project-content .prevpage-chevron, .project-container .project-content .nextpage-chevron {
      position: absolute;
      top: 50%;
      height: 20px;
      width: 20px;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1000;
      padding: 3px; }
    .project-container .project-content .prevpage-chevron {
      left: 0; }
    .project-container .project-content .nextpage-chevron {
      right: 0; }
    .project-container .project-content .nextpage-chevron:hover,
    .project-container .project-content .prevpage-chevron:hover {
      color: #01406d; }
    .project-container .project-content .dot-button-container {
      position: relative;
      float: left;
      display: block;
      left: 45%;
      color: #01406d;
      font-size: 12px; }
      .project-container .project-content .dot-button-container .activeProject {
        color: black;
        font-size: 10px;
        border: 2px solid #f8f9fa;
        border-radius: 50%; }
      .project-container .project-content .dot-button-container li {
        position: relative;
        float: left;
        display: block;
        right: 50%;
        margin: 0 5px;
        padding: 0;
        cursor: pointer; }
    .project-container .project-content .content {
      max-width: 800px;
      word-wrap: break-word; }
      @media (max-width: 750px) {
        .project-container .project-content .content h2 {
          font-size: 20px; } }
      @media (max-width: 750px) {
        .project-container .project-content .content h3 {
          font-size: 18px; } }
      @media (max-width: 750px) {
        .project-container .project-content .content h4 {
          font-size: 14px; } }
      .project-container .project-content .content img {
        display: block;
        max-width: 710px;
        max-height: 450px;
        margin: auto; }
        @media (max-width: 800px) {
          .project-container .project-content .content img {
            width: 80%; } }

.noproject-container {
  height: 100%; }

.scroll {
  z-index: 2000;
  background-color: #17262c;
  width: 75px;
  height: 45px;
  position: fixed;
  border-radius: 5px;
  border: none;
  bottom: 10px;
  right: 10px;
  display: block;
  padding: 3px;
  text-align: center; }
  @media (max-width: 800px) {
    .scroll {
      width: 55px;
      height: 30px;
      padding: 0;
      bottom: 62px;
      right: 10px; } }
  .scroll .text {
    text-transform: uppercase;
    width: 100px;
    font-size: 13px;
    margin-left: 3px; }
    @media (max-width: 800px) {
      .scroll .text {
        display: none; } }
  .scroll .icon i {
    width: 100%; }
    @media (max-width: 800px) {
      .scroll .icon i {
        margin-top: 6px;
        font-size: 18px; } }
  .scroll:hover {
    background-color: #17262c;
    color: #1295f3; }

.scrolltransition-enter {
  -webkit-animation-name: flipIn;
  -webkit-animation-duration: 0.3s;
  animation-name: flipIn;
  animation-duration: 0.3s; }

.scrolltransition-leave {
  -webkit-animation-name: flipOut;
  -webkit-animation-duration: 0.2s;
  animation-name: flipOut;
  animation-duration: 0.2s; }

.spinner, .spinner-clockwise, .spinner-counterclockwise {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  -webkit-animation: rotate 0.8s 0s ease-in-out infinite;
  animation: rotate 0.8s 0s ease-in-out infinite; }

.spinner-counterclockwise {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  animation-direction: alternate; }

.spinner-container {
  position: relative;
  margin-top: 20%;
  margin-bottom: 20%;
  padding-bottom: 30px;
  animation: fadeIn 1s 0s ease-in-out forwards;
  transition: ease-in-out; }

.outer-circle {
  border: 4px solid;
  border-color: transparent #f8f9fa;
  height: 75px;
  width: 75px; }
  @media (max-width: 1000px) {
    .outer-circle {
      height: 37px;
      width: 37px;
      border: 2px solid;
      border-color: transparent #f8f9fa; } }

.middle-circle {
  border: 2px solid;
  border-color: transparent #f8f9fa;
  height: 50px;
  width: 50px; }
  @media (max-width: 1000px) {
    .middle-circle {
      height: 25px;
      width: 25px;
      border: 1px solid;
      border-color: transparent #f8f9fa; } }

.inner-circle {
  border: 1px solid;
  border-color: transparent #f8f9fa;
  height: 42px;
  width: 42px; }
  @media (max-width: 1000px) {
    .inner-circle {
      height: 21px;
      width: 21px;
      border: 1px solid;
      border-color: transparent #f8f9fa; } }
