@import '../../../styles/index';

.contactNav {
  @media (max-width: 650px) {
    margin-left: -20px;
  }
  @extend %flex-wrap-center;
  list-style-type: none;
  margin: 0 auto;
  padding-top: 5px;
  color: $lightblue;
  font-family: $juramedium;

  li {
    display: block;
    float: left;
    position: relative;
    height: 40px;
    margin-top: 15px;
  }

  li > a {
    padding: 10px 15px;
    color: $lightblue;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $owhite;
    }

    &:focus {
      outline: none !important;
      text-decoration: none;
    }
  }

  p {
    margin-right: 20px;
  }
}

.footerContainer {
  background-color: $trueblue;
}

.footerTitle {
  @media (max-width: 650px) {
    display: none;
  }
}
